@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Figtree:ital,wght@0,300..900;1,300..900&family=Grechen+Fuemen&family=Montserrat+Alternates:wght@400;500;600&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ruwudu:wght@400;500;600;700&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Ysabeau+SC:wght@1..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Figtree:ital,wght@0,300..900;1,300..900&family=Grechen+Fuemen&family=Montserrat+Alternates:wght@400;500;600&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ruwudu:wght@400;500;600;700&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Ysabeau+SC:wght@1..1000&display=swap');
html {
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --bg-color: #f1f1f1;
    --secondary-color: #fbfbfb;
    --dark-grey: #333;
    --light-brown: #c7a17a;
    --black: #1f2226;
}
body {
    font-family: "Open Sans", sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Oswald", sans-serif;
    color: var(--dark-grey);
}
ul {
    list-style: none;
}
a{
    text-decoration: none;
}  
/* utility classes */
.container {
    max-width: 1200px;
    margin: auto;
}
.text-primary {
    color: var(--light-brown);
}
.heading {
    text-align: center;
}
.heading span {
    font-size: 18px;
}
.heading h2 {
    font-size: 40px;
    font-weight: 500;
    text-transform: uppercase;
}
/* Header start */
#header {
    position: fixed;
    background-color: white;
    width: 100%;
    border-bottom: 1px solid #ccc;
}    
#header .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    height: 90px;
}
#header .navbar .logo {
    width: 300px;  
}
#header .navbar ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
}
#header .navbar ul li a{
    color: var(--dark-grey);
    font-size: 18px;
    margin: 0px 20px;
    font-weight: 500;
    transition: all 0.3s ease;
}
#header .navbar ul li a:hover{
    color: var(--light-brown);
}
/* Header end */
/* home start */
#home {
    background: url("./images/home-bg.png") center no-repeat;
    background-size: 100%;
    background-color: var(--bg-color);
}
#home .home-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    min-height: 100vh;
    gap: 3rem;
    align-items: center;
}
#home .home-content .content-text h3 {
    font-size: 24px;
    font-weight: 400;
}
#home .home-content .content-text h1 {
    font-size: 80px;
    margin: 20px 0 ;
    line-height: 1.3 ;}

    #home .home-content .content-text p {
        font-size: 18px;
        line-height: 1.5;
    }
    #home .home-content .content-text  .btn {
        display: inline-block;
        margin-top: 2rem ;
        background-color: var(--light-brown);
        color: #fff;
        padding: 15px 25px;
        border-radius: 30px;
        transition: all 0.3s ease;
    }
    #home .home-content .content-text .btn i{
        margin-left: 5px;
    }
    #home .home-content .content-text .btn:hover{
        background-color: var(--dark-grey);
    }
    #home .home-content img{
        display: block;
        width: 100%;
    }
    /* home end */
    /* about start */
    #about, #menu  {
        padding: 6px 0;
    }
    #about .row {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        align-items: center;
    }
    #about .row .about-content h2 {
        text-transform: uppercase;
        font-size: 28px;
        margin-bottom: 10px;
    }
    #about .row .about-content .item{
        margin: 2rem 0;
    }
    #about .row .about-content .item h3 {
        margin-bottom: 5px;
    }
    /* about end */
    /* Menu start */
    #menu {
    background-color: var(--secondary-color);
    }
    #menu .row{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 2rem;
        gap: 5rem;
        align-items: center;
        border: 1px solid #ddd;
        padding: 25px 20px;
    }
    #menu .row .col .item{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 40px 0;

    }
    #menu .row .col .item img{
        width: 80px;
        margin-left: -50px ;
    }
    #menu .row .col .item .details{
        margin-left: 20px ;
    }
    #menu .row .col .item .details h3{
        font-size: 20px;
        margin-bottom: 15px;
    }
    #menu .row .col .item .details p{
        font-size: 14px;
        line-height: 1.6;
    }
    #menu .row .col .item .price{
        border-left: 1px solid #eee;
        padding: 20px;
        margin: auto;
    }
    #menu .row .col .item .price p{
        font-size: 20px;
        font-weight: 600;
    }
   /* Menu end */